body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #333;
}

#titles, #videos, #images {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: #ff4c4c;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #cc0000;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="text"] {
    width: calc(100% - 110px);
    margin-right: 10px;
}

/* Añade este bloque CSS para el nombre de los medios */
.media-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre los elementos */
}

.media-item-container img, 
.media-item-container video {
    max-width: 100%; /* Ajusta al contenedor */
    height: auto; /* Mantén la proporción */
}

.media-item-name {
    margin-top: 10px; /* Espacio entre el medio y el nombre */
    font-size: 16px; /* Tamaño del texto */
    color: #333;
    text-align: center; /* Alinear el texto al centro */
}
